h1 {
    color:red;
}

p {
    color:blue;
}

.special {
    color :orange;
    font-style: italic;
}

html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height:100%;
    background-color: lightgrey;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

.item1 {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding:2rem;
    flex-direction:row;
    flex-wrap:wrap;
}

.item2 {
    grid-area: main; 
    background-color: blue;
    padding:1rem;
    text-align: center;
}

.item3 {
    grid-area: footer; 
    background-color: red;
    padding:1rem;
    text-align: center;
}

.article-card {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2rem;
    margin: auto; 
    font-weight: bold;
    font-size: 2em;
    color: red;
}