h1 {
    color:rgb(255, 8, 0);
}

p {
    color:blue;
}

.special {
    color :orange;
    font-style: italic;
}
html, body {
    margin:0;
    padding:0;
    width:100vw;
    box-sizing: border-box;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item1 {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 75px;
    width: 100%;
    margin: 0;
    padding: 0 16px;
    border: 2px solid black;
    box-sizing: border-box;
}

.search input{
    border:2px solid black;
}

.item1 .logo {
    color:green;
    font-size:48px;
    font-weight:bold;
    }

ul {
    display:flex;
    padding:0;
    margin:0;
    gap:8px;
    list-style-type:none;
}

a {
    text-decoration:none;
    background:none;
    font-size:20px;
    padding:32px;
    
}

.item1 h1 {
    margin-bottom:50px;
}
.item2 {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#EBE4E4;
    padding: 1rem;
}

.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:16px;
    width: 100%;
    
}

.item3 {
    grid-area: footer; 
    background-color: red;
    padding:1rem;
    text-align: center;
}

.article-card {
    flex:1;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    width: 200px;
    height: 150px;
    

    font-weight: bold;
    font-size: 20px;
    color: red;
}

.item2 h2 {
    margin-bottom: 1rem;
    text-align: left;
    align-self: flex-start;
}

/* {
    outline: 2px solid purple;
}
*/