h1 {
    color:red;
}

p {
    color:blue;
}

.special {
    color :orange;
    font-style: italic;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.item1 {
    grid-area: header;
    background-color: green;
}

.item2 {
    grid-area: main; 
    background-color: blue;
}

.item3 {
    grid-area: footer; 
    background-color: red;
}